

.nodeToCompare{
  float:left;
  margin: 0 0 0 10px;
  width: 174px;
  border: 1px solid grey;
  
}

.fields{
  padding: 4px;
  border-bottom: 1px solid grey;
  
}


.fieldid{
	
}

.fieldmanufacturer{
	
}

.fielddescription{
  
  height: 340px;
  
  overflow: auto;
}

.fieldpositive, .fieldnegative{
  height: 80px;
  overflow: auto;
  
}




